-i https://pypi.org/simple
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
flask==1.1.2
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.2
jsonschema==3.2.0
markupsafe==1.1.1
pyrsistent==0.16.0
pysocks==1.7.1
pytelegrambotapi==3.7.1
python-dotenv==0.13.0
requests==2.22.0
six==1.14.0
spotipy==2.12.0
urllib3==1.25.7
werkzeug==1.0.1
yandex-music==0.1.2
